* {
	margin: 0px;
	padding: 0px;
	font-family: Viga;
}

body {
	background-size: auto;
	background-position: center;
	background-image: url(cute.jpg);
	height: 637px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
	text-align: center;
	margin: auto;
	padding-top: 200px;


}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-60%) translateY(-50%);
	width: fixed;
	background: rgba(199, 151, 20, 0.856);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 40 15px;
}

.main h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.button {
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: #5c9cbd;
	color: white;
	border-radius: 25px;

}

.btn-green {

	background: rgba(223, 12, 128, 0.986);
	color: #f1f7f7;
}

.textarea {
	width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #2685b4;
	border-radius: 25px;
	text-align: right;
}


.container {
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
}

.header {
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}

/* Bagian Main */
.left {
	width: 250px;
	border: 1px solid #dedede;
	background: #eaeaea;
	padding: 10px;
	margin: 10px;
	float: left;
}

.middle {
	width: 500px;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
	float: left;
}

.middle img {
	max-width: 100%;
	height: auto;
}

.right {
	width: 250px;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
	float: left;
}

.footer {
	clear: both;
	border: 2px solid #2d2d2d;
	color: #fff;
	background-color: #2d2d2d;
	padding: 10px;
	margin: 10px;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #eaeaea;
}

@media screen and (max-width: 1080px) {

	.container {
		width: 100%;
	}

	.left {
		width: 25%;
		background-color: #89d0ff;
	}

	.middle {
		width: 68%;
		float: right;
	}

	.right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}